.APKey.plist
.CFUserTextEncoding
.Trash/
.adobe/
.aws/
.bash_history
.cache/
.config/
.cordova/
.cups/
.dbshell
.dropbox/
.famous/
.gem/
.gitconfig
.gnupg/
.ionic/
.itmstransporter/
.mean
.mkshrc
.mongorc.js
.mysql_history
.node-gyp/
.npm/
.npmrc
.nvm/
.oracle_jre_usage/
.plugman/
.psql_history
.putty/
.rnd
.rvm/
.ssh/
.subversion/
.tmux.conf.swp
.v8flags.3.28.73.louiswilbrink.json
.v8flags.4.5.103.35.louiswilbrink.json
.vagrant.d/
.vim/
.viminfo
Applications/
Creative Cloud Files/
Desktop/
Documents/
Downloads/
Dropbox/
Google Drive/
HD_log.txt
Library/
Movies/
Music/
Pictures/
Public/
Sites/
ssl-backup/
.zlogin
.zshrc
